<!DOCTYPE html>
<html>
  <head>
     <title>clear-form</title>
  </head>
  <body>
      <h1>Your contact list has been cleared!</h1>
      <p><a href="/">Back to home page.</a></p>
    </div>
  </body>
</html>
