<!DOCTYPE html>
<html>
  <head>
    <title>contact-home</title>
  </head>
  <body>
    <h1>Address Book</h1>
      <ul>
        @foreach(var contact in Model)
        {
          <li>
              <h3>Name: @contact.GetName()</h3>
              <h3>Phone number: @contact.GetPhoneNumber()<h3>
              <h3>Address: @contact.GetAddress()<h3>
          </li>
        }
      </ul>
      <p><a href="/contacts/form"> Add new contact!</p>
      <form action="/contacts/delete" method="post">
        <button type="submit" name="button">Clear All Contacts</button>
      </form>
  </body>
</html>
