<!DOCTYPE html>
<html>
  <head>
    <title>contact-home</title>
  </head>
  <body>
    <h1>Address Book</h1>
      <ul>
        @foreach(var contact in Model)
        {
          <li><a href= "/contacts"> @Model.GetName() </a></li>
          <li><a href= "/contacts"> @Model.GetPhoneNumber() </a></li>
          <li><a href= "/contacts"> @Model.GetAddress() </a></li>
        }
      </ul>
  </body>
</html>
