<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link relay="stylesheet" href="~/css/styles.css">
    <title>contact-specific</title>
  </head>
  <body>
    <li>
        <h3> Name: @Contact.GetName() </h3>
    </li>
      <a href='/contacts/form'>Add another contact</a>
      <a href='/'>View all contacts</a>
    </div>
  </body>
</html> -->
